.container{
    background-color: navy;
    color:white;
    width:500px;
    height:fit-content;
    margin-left: 400px;
    
}
.demo{
    border-radius: 2px;
    height:30px;
    text-align: center;
    width: 300px;
}
/* .btn{
    border-radius: 2px;
    height:30px;
    text-align: center;
    width: 300px;
} */